{% extends 'BrainstrapBundlesFrontBundle::layout_content_modify.html.twig' %}
{% set active_item_menu = "holiday" %}
{% set template_letter = "С" %}
{% set template_caption= "Редактирвоания события администратором" %}
{% set template_descr= entity.caption %}
{% set content_right_caption = entity.caption %}
{% set slider_enabled = true %}
{% set detail_type = "edit" %}
{% set prefix_route = "review_review" %}


{% block preview_content %}
    {% include 'BrainstrapBundlesFrontBundle::Blocks/avatar.html.twig' with {
    'avatar':entity.avatar,
    'detail_type': "edit",
    'edit_form':edit_form,
    } only %}
{% endblock preview_content %}


{% block show_slider_block %}

    <div class="form-group">
        <label class="label-control">
            Название<span class="start">*</span>
        </label>
        {{ form_widget(edit_form.caption, { 'attr': {'class': 'input-control validate-caption', 'placeholder': 'Название'} }) }}
        <div class="inputErrors bs-alert bs-alert-error">
            {{ form_errors(edit_form.caption) }}
        </div>
    </div>

    <div class="form-group">
        <label class="label-control">
            Описание
        </label>
        {{ form_widget(edit_form.description, { 'attr': {'class': 'input-control validate-description tinymce', 'placeholder': 'Подробное описание'} }) }}
        <div class="inputErrors bs-alert bs-alert-error">
            {{ form_errors(edit_form.description) }}
        </div>
    </div>

    <div class="form-group">
        <label class="label-control">
            {{form_label(edit_form.deleted) }}
        </label>
        {{ form_widget(edit_form.deleted, { 'attr': {'class': 'input-control validate-description tinymce', 'placeholder': 'Подробное описание'} }) }}
        <div class="inputErrors bs-alert bs-alert-error">
            {{ form_errors(edit_form.deleted) }}
        </div>
    </div>

{% endblock show_slider_block %}